@use "./partials/_variables.scss" as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~bootstrap/scss/bootstrap.scss";

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
    font-family: $basefont;
}
#app {
    background: $lightgrey;
}

#adminLogo {
    width: 200px;
    img {
        width: 100%;
    }
}
a {
    font-size: 1.2rem !important;
}

.navbar-toggler:focus {
    box-shadow: 0px 0px 5px 0.25rem white;
}
// toggle button
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.form-control:valid {
    border: none;
    box-shadow: 0 0 0 0.25rem rgba(0, 128, 0, 0.25);
    border-radius: 5px;
}
input:invalid {
    border: none;
    // outline: 0.5px solid red;
    border-radius: 5px;
}

.selected {
    opacity: 0.4;
}

//*! Table styles */
table {
    border-spacing: 1;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

table * {
    position: relative;
}

table td,
table th {
    padding-left: 8px;
    text-align: left;
}

table thead tr {
    height: 60px;
    background: $primary-bg;
}

table tbody tr {
    height: 50px;
}

table tbody tr:last-child {
    border: 0;
}

table td.l,
table th.l {
    text-align: right;
}

table td.c,
table th.c {
    text-align: center;
}

table td.r,
table th.r {
    text-align: center;
}

.table100-head th {
    font-size: 16px;
    color: $secondary;
    line-height: 1.2;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

tbody tr {
    font-size: 15px;
    color: gray;
    line-height: 1.2;
    // font-weight: unset;
}

tbody tr:hover {
    color: #555;
    background-color: #f5f5f5;
    cursor: pointer;
}

.column1 {
    width: 300px;
    padding-left: 30px;
}
.column2,
.column3,
.column4,
.column5,
.column8 {
    width: 120px;
    text-align: right;
}
.column6 {
    width: 300px;
    text-align: right;
}
.column9,
.column10 {
    width: 150px;
    text-align: right;
    padding-left: 10px;
}
.column11 {
    width: 120px;
    text-align: right;
    padding-right: 30px;
}

@media screen and (max-width: 992px) {
    table {
        display: block;
    }

    table > *,
    table tr,
    table td,
    table th {
        display: block;
    }

    table thead {
        display: none;
    }
    table {
        height: 500px;
    }
    table td {
        display: flex;
    }
    // table tbody tr {
    //     height: auto;
    //     padding: 37px 0;
    // }

    // table tbody tr td {
    //     padding-left: 40% !important;
    //     margin-bottom: 24px;
    // }

    // table tbody tr td:last-child {
    //     margin-bottom: 0;
    // }

    // table tbody tr td:before {
    //     font-size: 14px;
    //     color: #999;
    //     line-height: 1.2;
    //     font-weight: unset;
    //     position: absolute;
    //     width: 40%;
    //     left: 30px;
    //     top: 0;
    // }
}
.asterisk-red {
    color: red;
}
@media screen and (max-width: 576px) {
    #adminLogo{
        display: none;
    }
    #userName{
        display: none;
    }
    h1{
        display: flex;
        flex-direction: column;
    }
    a{
        font-size: 10px;
    }
}