@use './partials/variables' as *;
//*! Table styles in ShowApartments page */
#showimage {
    width: 400px;
    img{
        width: 100%;
        border-radius: 5px;
        box-shadow: 0 0 0 0.3rem rgba($secondary, 0.7);
        object-fit: cover;
    }
}
.serviceCard{
  // box-shadow: 0 0 0 0.3rem rgba($secondary, 0.7);
  padding: 1rem;
}

//*! Slider styles in ShowApartments page */
#show-slider-container {
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  #show-slider-info .card-body {
    padding: 2rem;
  }
  
  #show-slider-info .card-title {
    font-size: 1.5rem;
    color: #343a40;
  }
  
  #show-slider-info .list-group-item {
    border: none;
    padding: 0.75rem 1rem;
    font-size: 1rem;
  }
  
  #show-slider {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .show-slider-wrapper {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .item {
    float: left;
    width: 100%;
    height: 500px;
    position: relative;
  }
  
  .item img {
    width: 100%;
    height: 490px;
    object-fit: cover;
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
  }
  
  .item .text {
    position: absolute;
    right: 20px;
    top: 20px;
    text-align: right;
    color: white;
  }
  
  .thumbs {
    display: flex;
    width: 100%;
    height: 100px;
    background: #000;
    position: relative;
  }
  
  .thumb {
    width: calc((100%) / 5);
    opacity: 0.5;
    cursor: pointer;
  }
  
  .thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .thumb.active {
    border: 3px solid $secondary;
    opacity: 1;
  }